@font-face {
  font-family: 'Perforgrama';
  src: url('Perfograma/Commercial/TTF/Perfograma-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nova Mono';
  src: url('NovaMono-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.logo p {
  font-family: 'Perforgrama', sans-serif;
  font-size: 40px;
}

nav {
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: linear-gradient(to bottom, #9a9996 0%, transparent 100%);
  z-index: 1;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  display: flex;
  margin-right: 60px;
}

.nav-links li a {
  font-family: 'Nova Mono';
  text-decoration: none;
  color: #333333;
  font-size: 35px;
}

.nav-links li a.active {
  font-weight: bold;
  font-size: 40px;
}

.profile-picture {
  width: 250px;
  height: 250px;
  padding-top: 10px;
  display: flex;
  border-radius: 50%;
  margin-top: -50px;
  /* justify-content: center; */
  vertical-align: top;
  align-items: center;
  z-index: 1;
}

.profile-picture img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: all 0.9s ease;
  z-index: 1;
}

.profile-picture img.hover-image {
  display: none;
}

.profile-picture:hover img.default-image {
  display: none;
}

.profile-picture:hover img.hover-image {
  display: inline-block;
}

.content {
  min-height: calc(100vh - 60px - 60px);
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: transparent 100%;
  position: relative;
  overflow: hidden;
}

.bio-table {
  font-family: 'Nova Mono';
  font-size: 20px;
  z-index: 1;
}

.scroll {
  font-family: 'Nova Mono';
  flex-direction: column;
  font-size: 10px;
  z-index: 1;
  margin-left: 50px;
}

.col1 {
  text-align: left;
}

.col2 {
  text-align: right;
}

.col2 a {
  color: black;
}


.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 20px;
  height: 20px;
  border: solid 1px #9a9996;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
  animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
  border-color: #c0bfbc;
}

.cube:nth-child(2) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}

.cube:nth-child(3) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(4) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  left: 90vw;
  top: 10vh;
}

.cube:nth-child(5) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  left: 10vw;
  top: 85vh;
}

.cube:nth-child(6) {
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  left: 50vw;
  top: 10vh;
}

.cube:nth-child(7) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 20vw;
  top: 30vh;
}

.cube:nth-child(8) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 90vw;
  top: 15vh;
}

.cube:nth-child(9) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 30vw;
  top: 85vh;
}

.cube:nth-child(10) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 60vw;
  top: 80vh;
}

.cube:nth-child(11) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 30vw;
  top: 90vh;
}

.cube:nth-child(12) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 50vw;
  top: 75vh;
}

@-webkit-keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.cube2 {
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 1px #9a9996;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube2 12s ease-in forwards infinite;
}

.cube2:nth-child(2n) {
  border-color: #c0bfbc;
}

.cube2:nth-child(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  left: 30vw;
  top: 70vh;
}

.cube2:nth-child(3) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  left: 50vw;
  top: 70vh;
}

.cube2:nth-child(4) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 10vw;
  top: 50vh;
}

.cube2:nth-child(5) {
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  left: 80vw;
  top: 65vh;
}

@keyframes cube2 {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 95vh;
  background: transparent 100%;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

footer {
  font-family: 'Nova Mono';
  background: linear-gradient(to top, #9a9996 0%, transparent 100%);
  padding: 0 20px;
  text-align: center;
  width: 100%;
  height: 100px;
  margin-top: auto;
}

#About-text {
  font-family: 'Nova Mono';
  font-size: 20px;
  z-index: 1;
}

.lists {
  font-family: 'Nova Mono';
  font-size: 20px;
  z-index: 1;
}

.counter {
  display: flex;
  font-family: 'Nova Mono';
  font-size: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

button {
  padding: 15px 25px;
  font-size: 20px;
}

.count {
  font-family: 'Nova Mono';
  font-size: 50px;
  z-index: 1;

}

.contact-forms {
  font-family: 'Nova Mono';
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

input,
textarea {
  border-radius: 12px;

  border: 2px solid #9a9996;
  height: 50px;
  width: 200px;
}

#message {
  height: 200px;
  width: 200px;
}

/* #submit:disabled {
  background-color: grey !important;
  cursor: not-allowed;
  font-size: 15px;
  color: white;
  margin-top: 10px;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
}

#submit:not(:disabled) {
  font-family: 'Nova Mono';
  font-size: 15px;
  background-color: #e66100 !important;
  color: white;
  margin-top: 10px;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

#submit:disabled {
  background-color: grey !important;
  cursor: not-allowed;
  font-size: 15px;
  color: white;
  margin-top: 10px;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
}

/* this defines the style for the submit button when it is NOT disabled */
#submit:not(disabled) {
  font-family: 'Nova Mono';
  font-size: 15px;
  background-color: #e66100 !important;
  color: white;
  margin-top: 10px;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}